<p id="notice"><%= notice %></p>
<div class="col-lg-4 col-md-4 col-sm-12">
<h1>Listing Contacts</h1>
<%= link_to 'Create New Contact', new_contact_path,:class => "btn btn-info btn-sm glyphicon glyphicon-plus" %>
<table class="table table-striped">
  <thead>
    <tr>
	 <th></th>
      <th>First</th>
      <th>Last</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
		 <td><span class="glyphicon glyphicon-user"></span></td>
        <td><%= contact.fname %></td>
        <td><%= contact.lname %></td>
        <td><%= contact.phone %></td>
        <td><%= link_to '', contact, method: :delete, data: { confirm: 'Are you sure you want to Delete this Contact?' },:class => "glyphicon glyphicon-remove danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>


